.navigation {
    display: flex;
    justify-content: end;
}

.title-box {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
.section2-text {
    font-size: 20px;
    color: #3D37F1;
    font-family: 'Lato';
    margin-bottom: 15px;
    font-weight: bold;
}
.section2-title {
    font-family: 'Lato';
    font-size: 40px; 
    font-weight: lighter;
    margin-bottom: 15px;
}
.section2-text2 {
    font-family: 'Roboto';
    font-size: 15px;
    margin-bottom: 25px;
}
.main-box {
    width: 720px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.box {
    width: 230px;
    height: 300px;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.color1 {
    background-color: #FBBA77;
    margin-bottom: 25px;
}
.color2 {
   background-color: #41EAE3;
    margin-bottom: 25px;
}
.color3 {
    background-color: #69529F;
    margin-bottom: 25px;
}
.color4 {
   background-color: #4386D2;
}
.color5 {
   background-color: #A5A2F6;
}
.color6 {
    background-color: #FF8088;
}
.box-text {
    width: 180px;
    text-align: center;
    font-size: 12px;
    margin-top: 7px;
    margin-bottom: 7px;
    font-family: 'Roboto';
}
.small-box-title {
    font-family: 'Lato';
}
.icon {
    width: 70px;
    margin-bottom: 15px;
}
.someicon {
    border: solid white 2px;
    border-radius: 25px;
    font-size: 12px;
    padding: 5px 10px;
}
.someicon:hover {
    background-color: white;
}